/* Specific Module Campus Life */

.Module__fullWidthLeadershipDevelopment {
	.Module__desc {
		@extend .condensed_heading;
		text-align: center;
	}
}
.Module__fullWidthCareerFinancial,
.Module__fullWidthResidentialLife,
.Module__fullWidthHealthWellness {
	.Module__desc {
		text-align: center;
	}
}
.Module__fullWidthRecreationSports {
	.Module__desc {
		@extend .condensed_heading;
	}
}
@media screen {
    .Module__fullWidthInclusion,
	.Module__fullWidthStudentServices {
        .Module__desc {
            padding: 1% 0;
            text-align: center;
        }
    }
	.Module__fullWidthReligiousSpiritual {
        .Module__list {
            padding: 35% 0 0;
		}
	}
	.Module__fullWidthSafetySecurity {
        .Module__desc {
			ul {
				text-align: center;
				li {
					display: inline-block;
				}
				li:after {
					content: "|";
					margin-left: .5em;
				}
				li:last-child:after {
					content: "";
				}
			}
		}
	}
	.Module__fullWidthSafetySecurity .Module__desc ul {
		text-align: center;
	}
	.Module__fullWidthCareerFinancial,
	.Module__fullWidthResidentialLife,
	.Module__fullWidthCivicEngagement {
        .Module__desc {
			ul {
				text-align: center;
				li {
					display: inline-block;
				}
				li:after {
					content: "|";
					margin-left: .5em;
				}
				li:last-child:after {
					content: "";
				}
			}
		}		
	}
	.Module__fullWidthRecreationSports {
		.Module__desc {
			padding: 0 0 50% 0;
		}
	}
    .Module__fullWidthCommunity {
        .Module__desc {
			padding: 5%;
            text-align: center;
        }
    }
	.Module__fullWidthCareerFinancial {
		.Module__list {
			margin-top: 15em;
		}
	}
}
@media all and (min-width: $medium) {
	.Module__fullWidthSupportServices {
		.Module__desc {
		}
	}
    .Module__fullWidthInclusion,
	.Module__fullWidthCommunity,
	.Module__fullWidthStudentServices {
        .Module__desc {
            column-count: 3;
            text-align: left;
			li a {
				line-height: 1.5;
			}
        }
    }
    .Module__fullWidthStudentLife {
        .Module__desc ul {
            column-count: 3;
            text-align: left;
			li a {
				line-height: 1.5;
			}
        }
    }
	.Module__fullWidthCareerFinancial {
		.Module__list {
			margin-top: 44em;
		}
	}
}
.u-lHeader {
    background: #666 url(../../../assets/images/campuslife-header-Quad-fall-10-JA-272_edit.jpg) no-repeat center;
	background-size: cover;
}
.Module__fullWidthInclusion {
    @extend .vassar_stars;
}
.Module__fullWidthCommunity {
    @extend .vassar_argyle;
}
.Module__fullWidthCareerFinancial {
    background: #666 url(../../../assets/images/campuslife-Post-Office-0709-JA_5268.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
}
.Module__fullWidthRecreationSports {
    background: #666 url(../../../assets/images/campuslife-sports-Scarlett8.jpg) no-repeat top;
	background-size: cover;
	color: #fff;	
}
.Module__fullWidthResidentialLife {
	@extend .vassar_plaid;
}
.Module__fullWidthReligiousSpiritual {
    background: #666 url(../../../assets/images/campuslife-Candles-09-NWF_3.jpg) no-repeat center;
	background-size: cover;
	color: #fff;	
}

/* jeff 20180221 */
@media screen and (min-width: $medium) {
	.g-NavSite {
		top: 5.1em !important; 
	}
	.g-NavSite__sec--action {
		top: -4.1em !important; 
	}
	.g-NavSite__sec--roles {
		top: -2em !important; 
	}
	.g-NavSite__sec--landing {
		margin-top: 0; 
		.g-NavSite__item {
			padding: .7em .6em .5em !important; 
		}
		.g-NavSite__itemContainer {
			margin-right: 0 !important; 
		}
		.g-NavSite__item--isCurrent,
		.g-NavSite__item--isCurrent:visited:visited {
			color: #fff !important;
			background-color: $maroonPresidents !important; 
		}
	}
}
