.InternshipsCareersAftervassar,
.RecreationSports,
.ReligiousSpiritual {
	min-height: 37rem;
	padding: 4%;
    .Row {
      padding: 2%;
      margin-top: auto;
    }
    align-items: flex-end !important;
}
.InternshipsCareersAftervassar {
	background-image:url(../images/campuslife-internships-careers.jpg);
}
.RecreationSports {
	background-image:url(../images/campuslife-sport-recreation-bg.jpg);
}
.ReligiousSpiritual {
	background-image:url(../images/campuslife-Candles-09-NWF_3.jpg);
}
.u-lHeader{
	background-image:url(../images/campuslife-header-bg.jpg);
}
