@import "_config";

.u-Masthead__head {
    margin-bottom: .25em;
}

.InternshipsCareersAftervassar,
.RecreationSports,
.ReligiousSpiritual {
	min-height: 37rem;
	padding: 4%;
    .Row {
      padding: 2%;
      margin-top: auto;
    }
    align-items: flex-end !important;
}
.InternshipsCareersAftervassar {
	background-image:url(../images/campus-life-interns-careers-after-vassar-bg.jpg);
    background-position-x: -10em;
}
.RecreationSports {
	background-image:url(../images/campus-life-recreation-sports-bg.jpg);
}
.ReligiousSpiritual {
	background-image:url(../images/campus-life-religious-spiritaul-bg.jpg);
}
@media screen and (min-width: $tiny) {
    .ReligiousSpiritual {
        .Row {
            max-width: 32em;
            margin: auto auto 2% 2%;
        }
    }
    .InternshipsCareersAftervassar {
        background-position-x: center;
        .Row {
            max-width: 32em;
            margin: auto 2% 2% auto;
        }
    }
}
.u-lHeader{
	background-image:url(../images/campus-life-header-bg.jpg);
}

/* Jeff Mac copied from Academics sass - to be centralized eventually
 .u-pageHome body:not(.parent-site) .u-Masthead__siteName--link>*{
	background-color:transparent;
	-webkit-backdrop-filter:blur(0px) grayscale(0%);
	backdrop-filter:blur(0px) grayscale(0%);
	margin:0;
	padding:0
}
.NavSite .u-NavSite__level.u-NavSite__level--1{
	border-top:solid .075em #fff;
	padding-top:1em !important;
	margin-top:0;
	max-width:64em;
	margin:0 auto;
	border-bottom:1px solid #ddd;
	margin-bottom:0.7em;
	padding-bottom:0.7em
}
.u-pageInner body:not(.parent-site) .u-Masthead,.u-thirdLevel .u-Masthead{
	display:none
}
.u-pageInner body:not(.parent-site) .u-lHeader{
	padding:1.75em 5% !important
}
.u-lContent{
	font-size:0.95em
}
.u-lContent a:focus,.u-lContent a:hover,.u-lContent a:visited:focus,.u-lContent a:visited:hover{
	background-color:#D0D0CE;
	color:#63666A
}
.Module__title,main.u-lMain .Row__title,.parent-site .row-title{
	text-align:left
}
.u-lContent .Dark a:focus,.u-lContent .Dark a:hover,.u-lContent .Dark a:visited,.u-lContent .Dark a:visited:focus,.u-lContent .Dark a:visited:hover,.u-lContent .Dark--scrim a:focus,.u-lContent .Dark--scrim a:hover,.u-lContent .Dark--scrim a:visited,.u-lContent .Dark--scrim a:visited:focus,.u-lContent .Dark--scrim a:visited:hover,.u-lContent .Dark--bgScrim a:focus,.u-lContent .Dark--bgScrim a:hover,.u-lContent .Dark--bgScrim a:visited,.u-lContent .Dark--bgScrim a:visited:focus,.u-lContent .Dark--bgScrim a:visited:hover,.u-lContent .galleria-desc-container a:focus,.u-lContent .galleria-desc-container a:hover,.u-lContent .galleria-desc-container a:visited,.u-lContent .galleria-desc-container a:visited:focus,.u-lContent .galleria-desc-container a:visited:hover{
	color:#a2a6ad;
	text-decoration-color:#a2a6ad;
	background-color:#D0D0CE
}
.u-lFooter a:hover,.u-lFooter a:focus{
	background-color:#D0D0CE;
	color:#63666A
} */